.account{
  &__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    gap: 10px;
  }
  &__title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 45px;
    color: #000000;
    margin: 0 0 30px;
  }
  &__sort{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    flex: 1 0 100%;
    max-width: 487px;
  }
  &__body{
    margin-bottom: 40px;
  }
  &__form{
    max-width: 744px;
    .btn{
      margin-top: 20px;
    }
  }
  .form-label{
    display: block;
    position: relative;
    &:after{
      content: '';
      position: absolute;
      top: 16px;
      right: 15px;
      background-image: url("../img/icons-sprite.svg#form-edit");
      background-repeat: no-repeat;
      width: 20px;
      height: 20px;
      display: none;
    }
    &.focus{
      &:after{
        display: block;
      }
    }
  }
  .form-control{
    padding: 17px 15px 18px;
  }

}