.category-tags{
  .btn-link{
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    border: 0.5px solid #8B8B8B;
    margin: 0 5px 5px 0;
    padding: 5px 7px 6px;
    text-decoration: none;
  }
}