.footer-advantage{
  display: flex;
  justify-content: space-between;
  padding-bottom: 18px;
  border-bottom: 1px solid #fff;
  &__item{
    flex: 1 0 25%;
    max-width: 25%;
    font-family: $font2;
    font-size: 20px;
    line-height: 112.99%;
    text-align: center;
    color: #FFFFFF;
    padding: 29px;
    border-right: 1px solid #fff;
    &:last-of-type{
      border-right: 0;
    }
  }
}