.footer{
  background-color: #192864;
  padding: 22px 0 30px;
  &__body{
    margin-top: 43px;
    margin-bottom: 41px;
    display: flex;
    justify-content: space-between;
  }
  &__about{
    flex: 1 0 410px;
    max-width: 410px;
    p{
      margin: 50px 0 0;
      &.small{
        font-weight: 400;
        font-size: 10px;
        line-height: 150%;
        color: #C6C6C6;
      }
    }
  }
  &__contacts{
    flex: 1 0 285px;
    max-width: 285px;
    font-weight: 400;
    font-size: 15px;
    line-height: 149.99%;
    color: #FFFFFF;
    p{
      margin: 0;
      color: #FFFFFF;
    }
  }
  &__title{
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #FFFFFF;
    margin-bottom: 11px;
  }
  &__link{
    color: #C6C6C6;
    text-decoration: none;
    display: block;
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 11px;
    &.white{
      color: #ffffff;
    }
  }
  &__footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 149.99%;
    color: #C6C6C6;
    a{
      color: #FFFFFF;
      text-decoration: none;
    }
  }
  &__social{
    .icon{
      margin: auto;
    }
  }
}