.header {
    margin-bottom: 27px;
    &__top {
        padding:11px 0 8px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__bottom{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__phone{
        font-weight: 400;
        font-size: 15px;
        line-height: 17px;
        color: #000000;
        text-decoration: none;
        margin-left: 15px;
        .icon-phone{
            width: 19px;
            height: 18px;
            margin-right: 9px;
        }
    }
    &__retail{
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;
        color: #000000;
    }
    &__info{
        display: flex;
        align-items: center;
    }
    &__search{
        margin: 0 20px;
    }
    &__catalog{
        flex-shrink: 0;
    }
}