.menu-catalog {
  position: absolute;
  z-index: 20;
  /*background-color: #ffffff;*/
  width: 100%;
  display: none;

  &.active {
    display: block;
  }

  ul{
    margin: 0;
    list-style: none;
    padding: 10px 0;
    position: relative;
    width: 273px;
    left: -40px;
    background-color: #ffffff;
    &:before{
      content: '';
      position: absolute;
      top: 0;
      left: calc(-100% - 140px);
      background-color: #ffffff;
      width: calc(100% + 140px);
      height: 100%;
      z-index: -1;
    }
    li {
      &:last-of-type {
        margin-bottom: 0;
      }
      &:hover {
        & > ul {
          display: block;
        }
      }
      a {
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;
        color: #000000;
        text-decoration: none;
        padding: 5px 20px 5px 40px;
        display: block;
        &:hover,
        &.active {
          color: #FF0000;

        }
      }
      & > ul {
        position: absolute;
        left: 100%;
        top: 0;
        width: 430px;
        height: 100%;
        background-color: #fff;
        padding: 10px 0;
        border-left: 1px solid #D7D7D7;
        display: none;
        a {
          padding: 5px 20px 5px 28px;
          font-size: 13px;
          line-height: 19px;
        }
        ul{
          width: max-content;
          &:before{
            left: 100%;
            width: 100vw;
          }
        }

      }
    }
  }
}