.page{
    margin-bottom: 70px;
    &__body{
        display: flex;
        gap: 20px;
    }
    &__title{
        font-weight: 400;
        font-size: 25px;
        line-height: 29px;
        color: #000000;
        margin: 0 0 30px;
    }
    &__aside{
        flex: 1;
    }
    &__content{
        flex:1 0 793px;
        max-width: 793px;
        figure{
            margin: 0 0 26px;
            img{
                display: block;
            }
        }
        h1{}
        h2{}
        h3{
            font-weight: 400;
            font-size: 25px;
            line-height: 29px;
            color: #000000;
            margin: 0 0 23px;
        }
        h4{}
        p{
            font-weight: 400;
            font-size: 15px;
            line-height: 28px;
            text-align: justify;
            color: #000000;
            margin: 0 0 26px;
        }
    }
}