.product-counter{
  display: flex;
  align-items: center;
  height: 21px;
  font-family: $font1;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #000000;
  &__control{
    width: 18px;
    height: 18px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    &.minus{
      background-image: url("../img/icons-sprite.svg#minus");
    }
    &.plus{
      background-image: url("../img/icons-sprite.svg#plus");
    }
  }
  &__num{
    position: relative;
    display: flex;
    align-items: baseline;
    justify-content: center;
  }
  &__unit{
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
  }
  &__input{
    border: none;
    text-align: right;
    max-width: 40px;
    width: auto;
    outline: none;
  }
}