.product-calc{
    &__title{
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 29px;
        color: #000000;
        margin: 0 0 30px;
    }
    &__body{
        display: flex;
        align-items: center;
        gap: 20px;
    }
    &__item{
        &:nth-child(1){
            flex: 1 0 590px;
        }
        &:nth-child(2){
            flex: 1 0 285px;
        }
        &:nth-child(2){
            flex-shrink: 0;
        }
    }
    &__count{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 45px;
        line-height: 37px;
        letter-spacing: -0.03em;
        color: #000000;
    }
    span{
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 21px;
        color: #000000;
    }
    .form-control{
        height: 53px;
    }
}