.select-city{
    position: relative;
    padding-left: 26px;
    padding-right: 18px;
    background: url("../img/icons-sprite.svg#location") no-repeat, url("../img/icons-sprite.svg#arrow-dropdown-bottom") right  no-repeat;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #000000;
    width: fit-content;
}