.table-account{
  display: table;
  width: 100%;
  border-collapse: collapse;
  &__th{
    display: table-row;
    width: auto;
    clear: both;
    margin-bottom: 10px;
    .table-account__td{
      text-align: left;
      padding-top: 0;
      padding-bottom: 0;
      &:first-of-type{
        padding-left: 0;
      }
    }
  }
  &__tr{
    display: table-row;
    width: auto;
    clear: both;
    margin-bottom: 10px;
  }
  &__td{
    display: table-cell;
    border: none;
    vertical-align: middle;
    padding: 20px 17px;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
  }
  &__td-head{
    display: none;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: #808080;
  }
  .btn-link{
    color: #000000;
    padding: 0;
  }
}