<header class="header">
    <div class="container">
        <div class="header__top">
            <a href="" class="header__logo">
                <img class="img-fluid" src="../img/logo-brozex-color.svg" width="103" height="36" alt="Logo Brozex">
            </a>
            <div class="header__info">
                <div class="select-city">
                    Екатеринбург <i class="icon icon-dropdown-bottom"></i>
                </div>

                <a href="tel:+73433452000" class="header__phone"><i class="icon icon-phone"></i>+7 (343) 345 20 00</a>
            </div>
            <div class="header-top-menu">
                <ul class="header-top-menu__list">
                    <li class="header-top-menu__item">
                        <a class="header-top-menu__link" href="#">О компании <i class="icon icon-dropdown-bottom"></i></a>
                        <div class="header-top-menu__dropdown">
                            <a class="header-top-menu__link" href="#">Партнерам</a>
                            <a class="header-top-menu__link" href="#">Новости</a>
                            <a class="header-top-menu__link" href="#">Контакты</a>
                        </div>
                    </li>
                    <li class="header-top-menu__item"><a class="header-top-menu__link" href="#">Партнерам</a></li>
                    <li class="header-top-menu__item"><a class="header-top-menu__link" href="#">Новости</a></li>
                    <li class="header-top-menu__item"><a class="header-top-menu__link" href="#">Контакты</a></li>
                </ul>
            </div>

            <a href="#" class="header__retail">Розничным покупателям</a>
        </div>
        <div class="header__bottom">
            <div class="header__catalog header-catalog">
                <button type="button" class="header-catalog__btn"></button>
                <span class="header-catalog__name">Каталог товаров</span>
            </div>
            <div class="header__search main-search">
                <form action="" class="main-search__form">
                    <input type="text" class="form-control" placeholder="Поиск в каталоге">
                    <input class="main-search__submit" type="submit" value="">
                </form>
                <div class="main-search__dropdown"></div>
            </div>

            <div class="menu-control">
                <a class="menu-control__item" href="">
                    <i class="icon icon-compare"></i>
                    <span class="menu-control__name">Сравнить</span>
                </a>
                <a class="menu-control__item" href="">
                    <i class="icon icon-estimate"></i>
                    <span class="menu-control__name">Смета</span>
                </a>
                <a class="menu-control__item" href="">
                        <i class="icon icon-favorites">
                            <span class="menu-control__count">3</span>
                        </i>
                    <span class="menu-control__name">Избранное</span>
                </a>
                <a class="menu-control__item" href="">
                    <div class="menu-control__icon">

                        <i class="icon icon-basket">
                            <span class="menu-control__count">1</span>
                        </i>
                    </div>
                    <span class="menu-control__name">Корзина</span>
                </a>
                <a class="menu-control__item" href="">
                    <i class="icon icon-login"></i>
                    <span class="menu-control__name">Войти</span>
                </a>
            </div>
        </div>
    </div>
</header>