<header class="header">
    <div class="container">
        <div class="header__top">
            <a href="" class="header__logo">
                <img class="img-fluid" src="../img/logo-brozex-color.svg" width="103" height="36" alt="Logo Brozex">
            </a>
            <div class="header__info">
                <div class="select-city">
                Екатеринбург
            </div>

                <a href="tel:+73433452000" class="header__phone"><i class="icon icon-phone"></i>+7 (343) 345 20 00</a>
            </div>
            <div class="header-top-menu">
                <ul class="header-top-menu__list">
                    <li><a href="#">О компании</a></li>
                    <li><a href="#">Партнерам</a></li>
                    <li><a href="#">Новости</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>
            </div>

            <a href="#" class="header__retail">Розничным покупателям</a>
        </div>
        <div class="header__bottom">
            <div class="header-catalog">
                <button type="button" class="header-catalog__btn"></button>
                <span class="header-catalog__name">Каталог товаров</span>
            </div>
            <div class="main-search">
                <form action="" class="main-search__form">
                    <input type="text" class="form-control" placeholder="Поиск в каталоге">
                    <input class="main-search__submit" type="submit" value="">
                </form>
                <div class="main-search__dropdown"></div>
            </div>

            <div class="menu-control">
                <a class="menu-control__item" href="">
                    <i class="icon icon-compare"></i>
                    <span class="menu-control__name">Сравнить</span>
                </a>
                <a class="menu-control__item" href="">
                    <i class="icon icon-estimate"></i>
                    <span class="menu-control__name">Смета</span>
                </a>
                <a class="menu-control__item" href="">
                    <i class="icon icon-favorites"></i>
                    <span class="menu-control__name">Избранное</span>
                </a>
                <a class="menu-control__item" href="">
                    <i class="icon icon-basket"></i>
                    <span class="menu-control__name">Корзина</span>
                </a>
                <a class="menu-control__item" href="">
                    <i class="icon icon-login"></i>
                    <span class="menu-control__name">Войти</span>
                </a>
            </div>
        </div>
    </div>
</header>