<header class="header">
    <div class="container">
        <div class="header__top">
            <a href="" class="header__logo">
                <img class="img-fluid" src="../img/logo-brozex-color.svg" width="103" height="36" alt="Logo Brozex">
            </a>
            <div class="header__info">
                <div class="select-city">
                Екатеринбург
            </div>

                <a href="tel:+73433452000" class="header__phone"><i class="icon icon-phone"></i>+7 (343) 345 20 00</a>
            </div>
            <div class="header-menu">
                <ul class="header-menu__list">
                    <li><a href="#">О компании</a></li>
                    <li><a href="#">Партнерам</a></li>
                    <li><a href="#">Новости</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>
            </div>

            <a href="#" class="header__retail">Розничным покупателям</a>
        </div>
        <div class="header__bottom"></div>
    </div>
</header>