<!--TODO: после верстки всех модалок добавить:  data-remodal-options="hashTracking: false, closeOnOutsideClick: false"-->
<div class="remodal" data-remodal-id="modal-city">
    <button data-remodal-action="close" class="remodal-close"></button>
    <div class="select-city__modal">
        <div class="remodal__header">
            <div class="remodal__title">Выбор города</div>
        </div>
        <div class="remodal__body">

            <form class="select-city__form" action="">
                <input class="form-control" type="text" value="" placeholder="Поиск">
            </form>
            <div class="select-city__col">
                <a href="#">г. Москва</a>
                <a href="#">г. Санкт-Петербург</a>
                <a href="#">г. Барнаул г. Владивосток</a>
                <a href="#">г. Волгоград</a>
                <a href="#">г Воронеж</a>
                <a href="#">г. Екатеринбург</a>
                <a href="#">г. Ижевск</a>
                <a href="#">г. Иркутск</a>
                <a href="#">г. Казань</a>
                <a href="#">г. Кемерово</a>
                <a href="#">г. Краснодар</a>
                <a href="#">г. Красноярск г. Махачкала</a>
                <a href="#">г. Нижний Новгород</a>

                <a href="#">г. Новосибирск</a>
                <a href="#">г. Омск г. Оренбург</a>
                <a href="#">г. Премь</a>
                <a href="#">г. Ростов-на-Дону</a>
                <a href="#">г. Самара</a>
                <a href="#">г. Саратов</a>
                <a href="#">г. Тольятти</a>
                <a href="#">г. Томск</a>
                <a href="#">г. Тюмень</a>
                <a href="#">г. Ульяновск</a>
                <a href="#">г. Уфа</a>
                <a href="#">г. Хабаровск</a>
                <a href="#">г. Челябинск</a>
                <a href="#">г. Ярославль</a>
            </div>
        </div>
    </div>
</div>