@import "./partials/normalize";
@import "./partials/formstyler";
@import "./partials/formstyler.theme";
@import "./partials/swiper-bundle";
@import "./partials/remodal";
@import "./partials/remodal-default-theme";
@import "mixin";
@import "fonts";
@import "buttons";
@import "form";
@import "icon";
@import "remodal";
@import "table";
@import "text";
@import "alert";



* {
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
}
body{
	background-color: #fff;
	font-family: Arial, Helvetica, sans-serif;
}
.wrp {
	overflow: hidden;
	position: relative;
}

.d-none {
	display: none !important;
}

.d-flex {
	display: flex;
}

.d-block {
	display: block;
}

.d-desktop-none {
	display: none;
	@include r(767) {
		display: block;
	}
}

.d-mobile-none {
	display: block;
	@include r(767) {
		display: none !important;
	}
}

.img-fluid {
	max-width: 100%;
	height: auto;
}

.container {
	max-width: 1236px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 16px;
	padding-right: 16px;
}

.main{
	padding-bottom: 0;
}

.swiper-pagination{
	.swiper-pagination-bullet{
		width: 20px;
		height: 20px;
		background: transparent;
		opacity: .7;
		padding: 10px;
		position: relative;
		&:before{
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			background-color: #ffffff;
			width: 7px;
			height: 7px;
			border-radius: 50%;
		}
		&-active{
			border: 1px solid #ffffff;
			opacity: 1;
		}
	}
}


@import "componets/header";
@import "componets/select-city";
@import "componets/header-top-menu";
@import "componets/slider-main";
@import "componets/slider-brands";
@import "componets/category-populary";
@import "componets/category-tags";
@import "componets/slider-products";
@import "componets/main-news";
@import "componets/main-about";
@import "componets/footer";





