.remodal {
  text-align: left;
  background-color: #ffffff;
  padding: 20px;

  &__header {
    position: relative;
    margin-bottom: 16px;
  }

  &__title {
    font-family: $font1;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 45px;
    color: #000000;
    margin: 0;

  }

  .remodal-close {
    right: 30px;
    top: 20px;
    left: auto;
    width: 30px;
    height: 30px;
    text-align: center;
    color: #000000;

    &:before {
      content: '';
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      margin-top: 0;
      background-image: url("../img/icons-sprite.svg#close");
      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat;
      width: 15px;
      height: 15px;
    }
  }

  .form-control {
    padding: 18px 15px;
  }

  .btn {
    width: fit-content;
    margin: 0 auto;
    display: block;
  }

  @include rmin(641) {
    max-width: 590px;
  }
}

.remodal-wrapper {
  padding: 0;
}

.remodal-overlay {
  background: rgba(0, 0, 0, 0.5);
}
